@import url(../css/reset.css);
.header {
  height: 220px;
  position: relative;
}
@media screen and (max-width: 840px) {
  .header {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 500px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header .h1 {
  position: absolute;
  color: #352c2b;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 32px;
}
@media screen and (max-width: 840px) {
  .header .h1 {
    position: relative;
    padding: 16px;
    height: auto;
    color: #fff;
    width: 100%;
    margin-bottom: 16px;
  }
}
.header .h1::after {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(249, 249, 249)), to(rgb(211, 211, 211)));
  background: linear-gradient(180deg, rgb(249, 249, 249) 0%, rgb(211, 211, 211) 100%);
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  border-radius: 0 0 12px 12px;
  z-index: -1;
}
@media screen and (max-width: 840px) {
  .header .h1::after {
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(#221f1e), to(#8e5e0a));
    background: linear-gradient(90deg, #221f1e 0%, #8e5e0a 100%);
    opacity: 0.82;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-box-shadow: 0 0 0 1px #fff;
            box-shadow: 0 0 0 1px #fff;
  }
}
.header .h1 .dep {
  font-size: 24px;
  margin-right: 12px;
}
@media screen and (max-width: 840px) {
  .header .h1 .dep {
    width: 100%;
    margin-bottom: 4px;
    font-size: 18px;
  }
}
.header .h1 .dep a {
  text-decoration: none;
  color: #352c2b;
}
@media screen and (max-width: 840px) {
  .header .h1 .dep a {
    color: #fff;
  }
}
.header .h1 .sys {
  font-size: 24px;
  display: none;
}
@media screen and (max-width: 840px) {
  .header .h1 .sys {
    display: block;
    font-size: 18px;
    margin-right: 12px;
  }
}
.header .h1 time {
  font-size: 16px;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #352c2b;
  background: #fff;
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .header .h1 time {
    display: none;
  }
}
.header .subTitle {
  position: absolute;
  left: 0;
  bottom: -6px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98px;
  color: #fff;
  padding: 0 56px;
}
@media screen and (max-width: 840px) {
  .header .subTitle {
    display: none;
  }
}
.header .subTitle span {
  font-size: 30px;
  font-weight: bold;
}
.header .subTitle::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#221f1e), to(#8e5e0a));
  background: linear-gradient(90deg, #221f1e 0%, #8e5e0a 100%);
  opacity: 0.82;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  border-radius: 12px 12px 0 0;
}
.header .navInfo {
  position: absolute;
  right: 0;
  top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #433b39;
  font-weight: bold;
}
@media screen and (max-width: 840px) {
  .header .navInfo {
    position: relative;
    top: 0;
    margin: 0 0 8px 0;
  }
}
.header .navInfo a {
  text-decoration: none;
  color: #433b39;
}
.header .navInfo .member {
  height: 56px;
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 840px) {
  .header .navInfo .member {
    height: 48px;
    padding: 0 16px;
  }
}
.header .navInfo .member .setting {
  font-size: 0;
  width: 40px;
  height: 40px;
  display: block;
  background: url(../images/icon_setting.png) no-repeat center center;
  margin-left: 16px;
}
.header .navInfo .member .setting::before {
  content: "";
  width: 1px;
  height: 20px;
  display: block;
  background: #352c2b;
  margin-top: 10px;
}
.header .navInfo .member .setting:hover, .header .navInfo .member .setting:focus {
  background: url(../images/icon_setting_.png) no-repeat center center;
}
.header .navInfo .member::after {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(249, 249, 249)), to(rgb(211, 211, 211)));
  background: linear-gradient(180deg, rgb(249, 249, 249) 0%, rgb(211, 211, 211) 100%);
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  border-radius: 12px;
  z-index: -1;
}
.header .navInfo .logOut {
  height: 56px;
  line-height: 56px;
  padding: 0 32px;
  position: relative;
  margin-left: 8px;
}
@media screen and (max-width: 840px) {
  .header .navInfo .logOut {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
  }
}
.header .navInfo .logOut::after {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(249, 249, 249)), to(rgb(211, 211, 211)));
  background: linear-gradient(180deg, rgb(249, 249, 249) 0%, rgb(211, 211, 211) 100%);
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  border-radius: 12px;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .navInfo .logOut:hover, .header .navInfo .logOut:focus {
  color: #fff;
}
.header .navInfo .logOut:hover::after, .header .navInfo .logOut:focus::after {
  background: -webkit-gradient(linear, left bottom, left top, from(#221f1e), to(#8e5e0a));
  background: linear-gradient(0deg, #221f1e 0%, #8e5e0a 100%);
  opacity: 1;
}
.header .refresh {
  position: absolute;
  right: 0;
  bottom: 16px;
  font-size: 16px;
  color: #221f1e;
  font-weight: bold;
}
@media screen and (max-width: 840px) {
  .header .refresh {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 500px) {
  .header .refresh {
    margin: 8px 0 16px 0;
  }
}
.header .refresh a {
  background: #9a712a;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 4px;
  -webkit-transition: 0.5s background;
  transition: 0.5s background;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgba(34, 30, 30, 0.3);
          box-shadow: 2px 2px 5px rgba(34, 30, 30, 0.3);
  text-decoration: none;
}
.header .refresh a:hover, .header .refresh a:focus {
  background: #433b39;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-top: 2px solid #221f1e;
  border-bottom: 2px solid #221f1e;
}

tr.serving {
  background: #f6ebdf;
}

tr th {
  background: #efeded;
  padding: 16px 8px;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #221f1e;
}
tr td {
  padding: 16px 8px;
  text-align: left;
  border-bottom: 1px solid #221f1e;
}
tr td.center {
  text-align: center;
}
tr td.left {
  text-align: left;
}
tr td.right {
  text-align: right;
}
tr td a {
  color: #bd601c;
}
tr td a:hover, tr td a:focus {
  color: #433b39;
  text-decoration: none;
}
tr:last-child td {
  border-bottom: 0;
}

.dayTime tr th,
.dayTime tr td {
  border-right: 1px solid #221f1e;
  text-align: center;
}
.dayTime tr th:last-child,
.dayTime tr td:last-child {
  border-right: 0;
}
.dayTime tr th.selectDayTime {
  background: #bd601c;
  color: #fff;
}
.dayTime tr td {
  font-size: 24px;
  font-weight: bold;
}
.dayTime tr td a {
  display: block;
}
.dayTime ~ .dayTime {
  border-top: 0;
}

.tableSort th.sortable {
  cursor: pointer;
  position: relative;
}
.tableSort th.sortable::before, .tableSort th.sortable::after {
  content: "";
  position: absolute;
  font-size: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
}
.tableSort th.sortable::before {
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #ccc transparent;
}
.tableSort th.sortable::after {
  border-width: 10px 8px 0 8px;
  border-color: #ccc transparent transparent transparent;
  top: 28px;
}
.tableSort th.sort-asc::after {
  border-color: #444 transparent transparent transparent;
}
.tableSort th.sort-desc::before {
  border-color: transparent transparent #444 transparent;
}

.tableWrapper {
  margin-bottom: 2em;
}
.tableWrapper > .tableScroll {
  overflow-y: hidden;
  scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
  .tableWrapper > .tableScroll {
    width: 100%;
    display: block;
    clear: both;
    zoom: 1;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 1em;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.tableWrapper > .tableScroll > table {
  min-width: 600px;
}
@media screen and (max-width: 768px) {
  .tableWrapper > .tableScroll > table {
    width: 100%;
    min-width: 600px;
  }
}
.tableWrapper > .tableScroll > table td button {
  padding: 0 0.5em;
}
.tableWrapper > .tableScroll > table td button.edit {
  background: #8e5e0a;
}
.tableWrapper > .tableScroll > table td button.edit:hover, .tableWrapper > .tableScroll > table td button.edit:focus {
  background: #bd601c;
}
.tableWrapper .scrollTableNav {
  width: 60px;
  position: absolute;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, rgba(255, 255, 255, 0.8)), color-stop(39%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 33%, rgba(255, 255, 255, 0.6) 39%, rgba(255, 255, 255, 0) 100%);
  z-index: 9;
}
.tableWrapper .scrollTableNavLeft {
  left: 0;
  display: none;
}
.tableWrapper .scrollTableNavRight {
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tableWrapper .scrollTableNavLeft .scrollTableLeftBtn,
.tableWrapper .scrollTableNavRight .scrollTableRightBtn {
  width: 35px;
  height: 100%;
  background: url(../images/icon_ar.svg) no-repeat center;
  cursor: pointer;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.necessary {
  color: red;
  margin: 0px 0.2em;
}

form {
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
}

input,
textarea,
select,
button,
datalist,
label {
  font-size: inherit;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
input:focus,
textarea:focus,
select:focus,
button:focus,
datalist:focus,
label:focus {
  outline: none;
}

textarea, input[type=text],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2em;
  line-height: 2;
  padding: 0 0.5em;
  margin: 0;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #a5a4a4;
  background: #fff;
}
textarea:hover, input[type=text]:hover,
input[type=date]:hover,
input[type=datetime-local]:hover,
input[type=email]:hover,
input[type=file]:hover,
input[type=month]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=time]:hover,
input[type=url]:hover,
input[type=week]:hover, textarea:focus, input[type=text]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus {
  border: 1px solid #bd601c;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2em;
  line-height: 2em;
  padding: 0 32px 0 0.8em;
  vertical-align: middle;
  border: 1px solid #a5a4a4;
  border-radius: 4px;
  background: #fff url(../images/selectArrow.svg) no-repeat right 10px center;
  background-size: 0.8em auto;
  cursor: pointer;
}
input[type=text].fullWidth,
input[type=date].fullWidth,
input[type=datetime-local].fullWidth,
input[type=email].fullWidth,
input[type=file].fullWidth,
input[type=month].fullWidth,
input[type=number].fullWidth,
input[type=password].fullWidth,
input[type=search].fullWidth,
input[type=tel].fullWidth,
input[type=time].fullWidth,
input[type=url].fullWidth,
input[type=week].fullWidth {
  width: calc(100% - 6px);
}
input[type=text].halfWidth,
input[type=date].halfWidth,
input[type=datetime-local].halfWidth,
input[type=email].halfWidth,
input[type=file].halfWidth,
input[type=month].halfWidth,
input[type=number].halfWidth,
input[type=password].halfWidth,
input[type=search].halfWidth,
input[type=tel].halfWidth,
input[type=time].halfWidth,
input[type=url].halfWidth,
input[type=week].halfWidth {
  width: calc(50% - 3px);
}

select.fullWidth {
  width: calc(100% - 6px);
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  margin: 3px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 0.15s background;
  transition: 0.15s background;
  border-radius: 4px;
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
  color: #fff;
  background: #7a7574;
}
button:hover, button:focus,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:focus {
  background: #534f4f;
}

textarea {
  resize: vertical;
  line-height: 1.6;
  height: 10em;
  width: calc(100% - 6px);
}

input[type=radio],
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 6px;
  width: 1em;
  height: 1em;
  line-height: 1;
  border: 1px solid #a5a4a4;
  background: #fff;
  vertical-align: middle;
}

input[type=radio] {
  border-radius: 50%;
}
input[type=radio]:focus {
  border: 1px solid #bd601c;
}
input[type=radio]:checked {
  background: #bd601c url(../images/icon_check_r.png) no-repeat center center;
  border: 1px solid #bd601c;
}

input[type=checkbox] {
  border-radius: 4px;
}
input[type=checkbox]:focus {
  border: 1px solid #bd601c;
}
input[type=checkbox]:checked {
  background: #bd601c url(../images/icon_check.png) no-repeat center center;
  background-size: 96%;
  border: 1px solid #bd601c;
}
select[disabled],
textarea[disabled],
textarea[disabled]:hover,
textarea[disabled]:focus,
input[disabled],
input[disabled]:hover,
input[disabled]:focus {
  background: #ccc;
  color: #666;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea[readonly],
textarea[readonly]:hover,
textarea[readonly]:focus,
input[type=text][readonly],
input[type=text][readonly]:hover,
input[type=text][readonly]:focus {
  background: #efefef;
  color: #666;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
}

select[disabled],
input[disabled] {
  color: #666;
}

button[disabled],
button.disabled,
input[type=button][disabled],
input[type=submit][disabled],
button[disabled]:hover,
input[type=submit][disabled]:hover,
button[disabled]:focus,
input[type=submit][disabled]:focus {
  background: #ccc;
  color: #999;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
}

.formWrap p {
  margin-bottom: 16px;
}
.formWrap .ps {
  color: #bd601c;
  text-align: center;
  margin-bottom: 24px;
}
.formWrap .ps a {
  color: #bd601c;
}
.formWrap .ps a:hover, .formWrap .ps a:focus {
  text-decoration: none;
}
.formWrap .formTable {
  border-top: 0;
  border-bottom: 0;
}
.formWrap .formTable th,
.formWrap .formTable td {
  border-bottom: 0;
}
.formWrap .formTable th {
  background: none;
  text-align: left;
  padding: 8px;
  font-weight: bold;
  width: 9em;
}
.formWrap .formTable th label {
  padding: 8px 8px 8px 18px;
  position: relative;
  line-height: 120%;
}
.formWrap .formTable th label abbr[title] {
  border-bottom: none;
  text-decoration: none;
}
.formWrap .formTable th label .necessary {
  color: red;
  margin: 0px 0.2em;
  position: absolute;
  left: 0;
  top: 12px;
}
.formWrap .formTable td {
  padding: 8px;
  border-top: 0;
  width: calc(100% - 8em);
}
.formWrap .formTable td > input[type=text]:only-child {
  width: 100%;
}
.formWrap .formTable td > input[type=password]:only-child {
  width: 100%;
}
.formWrap .formTable td > select:only-child {
  width: 100%;
}
.formWrap .formTable td .captcha {
  margin-right: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 500px) {
  .formWrap .formTable td .captcha {
    margin-bottom: 4px;
    display: block;
  }
}
.formWrap .formTable td .formInline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}
.formWrap .formTable td .formInline label {
  padding: 8px 16px 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formWrap .formTable td .formInline label input[type=radio],
.formWrap .formTable td .formInline label input[type=checkbox] {
  margin-left: 0;
}
.formWrap .formTable td .duration input[type=text] {
  width: 15%;
}
@media screen and (max-width: 768px) {
  .formWrap .formTable td .duration input[type=text] {
    margin-bottom: 4px;
  }
}
.formWrap .formTable td .duration span {
  margin: 0 8px;
}
.formWrap .formTable td table {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.formWrap .formTable td table th {
  text-align: center;
  background: #efeded;
  padding: 16px 8px;
}
.formWrap .formTable td table td {
  text-align: center;
  border-top: 1px solid #444;
  padding: 16px 8px;
}
.formWrap .btnGrp {
  text-align: center;
  margin: 16px 0 24px 0;
}
.formWrap .btnGrp .btn {
  min-width: 200px;
  height: 54px;
  line-height: 54px;
  padding: 0 54px;
  border-radius: 8px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2px 24px rgba(34, 30, 30, 0.3);
          box-shadow: 0 2px 24px rgba(34, 30, 30, 0.3);
}
.formWrap .btnGrp .btn.btnSubmit {
  background: #221f1e;
}
.formWrap .btnGrp .btn.btnSubmit[disabled] {
  background: #ccc;
  color: #999;
}
.formWrap .btnGrp .btn.btnSubmit:hover, .formWrap .btnGrp .btn.btnSubmit:focus {
  background: #8e5e0a;
}

.pagination {
  margin: 0.5em auto;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 0.938em;
}
.pagination .formInline {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination span {
  color: #8e5e0a;
  margin: 0px 0.5em;
}
.pagination .page {
  margin: 10px auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagination .page li {
  margin: 2px;
  list-style: none;
}
.pagination .page li a {
  min-width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  font-size: 1em;
  color: #000;
  background: #eee;
  border: #ccc solid 1px;
  margin: 0 0.1em 0.25em;
  text-decoration: none;
}
.pagination .page li a:hover, .pagination .page li a:focus-visible {
  background: #8e5e0a;
  color: #fff;
  border: #8e5e0a solid 1px;
}
.pagination .page li.active a {
  color: #fff;
  background: #221f1e;
  border: #141312 solid 1px;
}
.pagination .page li.last a:after, .pagination .page li.last a:before, .pagination .page li.next a:before, .pagination .page li.prev a:before, .pagination .page li.first a:after, .pagination .page li.first a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -4px;
  border: 2px solid #666;
  border-left: none;
  border-bottom: none;
}
.pagination .page li.first a, .pagination .page li.prev a, .pagination .page li.next a, .pagination .page li.last a {
  text-indent: -9999px;
  position: relative;
}
.pagination .page li.first a:hover:before, .pagination .page li.first a:hover:after, .pagination .page li.first a:focus-visible:before, .pagination .page li.first a:focus-visible:after, .pagination .page li.prev a:hover:before, .pagination .page li.prev a:hover:after, .pagination .page li.prev a:focus-visible:before, .pagination .page li.prev a:focus-visible:after, .pagination .page li.next a:hover:before, .pagination .page li.next a:hover:after, .pagination .page li.next a:focus-visible:before, .pagination .page li.next a:focus-visible:after, .pagination .page li.last a:hover:before, .pagination .page li.last a:hover:after, .pagination .page li.last a:focus-visible:before, .pagination .page li.last a:focus-visible:after {
  border: 2px solid #fff;
  border-left: none;
  border-bottom: none;
}
.pagination .page li.first a:before {
  margin-left: -6px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.pagination .page li.first a:after {
  margin-left: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.pagination .page li.prev a:before {
  margin-left: -2px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.pagination .page li.next a:before {
  margin-left: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pagination .page li.last a:before {
  margin-left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pagination .page li.last a:after {
  margin-left: -9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pagination .total {
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}
.pagination .total select {
  margin: 0px 0.5em;
}
@media screen and (max-width: 768px) {
  .pagination .total select {
    margin: 0px;
  }
}
.pagination .total .btn {
  min-width: auto;
}
.pagination .total .btn.btnSubmit {
  margin-left: 10px;
}
.pagination .items {
  display: inline-block;
  vertical-align: middle;
}
.pagination .items a {
  padding: 0 5px;
  color: #8e5e0a;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .pagination .total select.formControl {
    margin: 0px 0px;
    text-align: center;
  }
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, "LiHei Pro", "Microsoft JhengHei";
  font-size: 20px;
  font-weight: 400;
  background: #efede6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f1eee7 url(../images/bg.jpg) no-repeat center 0;
}
@media screen and (max-width: 1200px) {
  body {
    background-size: 100%;
  }
}
@media screen and (max-width: 840px) {
  body {
    font-size: 16px;
  }
}
body::before {
  content: "";
  width: 100vw;
  height: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#221f1e), to(#8e5e0a));
  background: linear-gradient(90deg, #221f1e 0%, #8e5e0a 100%);
  display: block;
}

.wrap {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1120px) {
  .wrap {
    padding: 0 15px;
  }
}

.mainContent {
  background: #fff;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 60px 60px 60px;
  min-height: 60vh;
  -webkit-box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
          box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
}
@media screen and (max-width: 768px) {
  .mainContent {
    padding: 20px;
  }
}

.popup {
  width: 20%;
  min-width: 500px;
  background: #fff;
  margin: 5vh auto;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
          box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .popup {
    min-width: 340px;
    padding: 20px;
  }
}
.popup .btnGrp {
  margin: 16px 0 0 0;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px 24px 8px;
  margin-bottom: 24px;
  border-bottom: 2px solid #221f1e;
}
@media screen and (max-width: 680px) {
  .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 540px) {
  .welcome {
    line-height: 140%;
  }
}
.welcome .welcomeTxt {
  font-size: 20px;
  color: #000;
}
@media screen and (max-width: 840px) {
  .welcome .welcomeTxt {
    font-size: 18px;
  }
}
.welcome .welcomeTxt .opening {
  font-size: 26px;
}
@media screen and (max-width: 840px) {
  .welcome .welcomeTxt .opening {
    font-size: 18px;
  }
}
.welcome .welcomeTxt .name {
  font-size: 26px;
  color: #392b1d;
}
@media screen and (max-width: 840px) {
  .welcome .welcomeTxt .name {
    font-size: 18px;
  }
}
.welcome .welcomeTxt .zone {
  color: #8e5e0a;
  margin-right: 16px;
}
.welcome .download {
  font-size: 18px;
}
@media screen and (max-width: 680px) {
  .welcome .download {
    margin-top: 16px;
  }
}
.welcome .download a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
}
.welcome .download a img {
  margin-right: 8px;
}
.welcome .download a:hover, .welcome .download a:focus {
  color: #8e5e0a;
}

.court {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
}
@media screen and (max-width: 540px) {
  .court {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
    font-size: 18px;
  }
}
.court a {
  width: 26%;
  max-width: 230px;
  text-align: center;
  background: url(../images/icon_libra.png) no-repeat center 36px, linear-gradient(333deg, #221f1e 0%, #8e5e0a 100%);
  padding: 90px 10px 30px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0 3%;
  line-height: 140%;
  -webkit-box-shadow: 0 2px 24px rgba(34, 30, 30, 0.3);
          box-shadow: 0 2px 24px rgba(34, 30, 30, 0.3);
}
@media screen and (max-width: 680px) {
  .court a {
    margin: 0 15px;
  }
}
@media screen and (max-width: 540px) {
  .court a {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin: 8px 0;
    padding: 30px 10px 30px 90px;
    background: url(../images/icon_libra.png) no-repeat 30px center, linear-gradient(333deg, rgb(34, 30, 30) 0%, rgb(141, 93, 10) 100%);
  }
}
.court a:hover, .court a:focus {
  background: #bd601c url(../images/icon_libra.png) no-repeat center 36px;
}

.statusBtn {
  margin-bottom: 24px;
}
.statusBtn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
}
.statusBtn ul li {
  margin: 4px;
}
.statusBtn ul li a {
  height: 48px;
  line-height: 48px;
  display: block;
  padding: 0 32px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
          box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
  border-radius: 10px;
  -webkit-transition: 0.5s background;
  transition: 0.5s background;
}
.statusBtn ul li a.take {
  background: #28a1a0;
}
.statusBtn ul li a.take:hover, .statusBtn ul li a.take:focus {
  background: #1e7877;
}
.statusBtn ul li a.reserve {
  background: #2869a1;
}
.statusBtn ul li a.reserve:hover, .statusBtn ul li a.reserve:focus {
  background: #1e4e78;
}
.statusBtn ul li a.serving {
  background: #ce5214;
}
.statusBtn ul li a.serving:hover, .statusBtn ul li a.serving:focus {
  background: #a03f0f;
}
.statusBtn ul li a.pass {
  background: #7ca33f;
}
.statusBtn ul li a.pass:hover, .statusBtn ul li a.pass:focus {
  background: #607e31;
}
.statusBtn ul li a.served {
  background: #989695;
}
.statusBtn ul li a.served:hover, .statusBtn ul li a.served:focus {
  background: #7f7c7b;
}
.statusBtn ul li a.add {
  background: #734ba1;
}
.statusBtn ul li a.add:hover, .statusBtn ul li a.add:focus {
  background: #5a3b7e;
}

.mainMenu {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .mainMenu {
    margin-bottom: 20px;
  }
}
.mainMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .mainMenu ul {
    font-size: 16px;
  }
}
.mainMenu ul li {
  margin: 4px;
}
.mainMenu ul li a {
  height: 54px;
  line-height: 54px;
  display: block;
  padding: 0 16px;
  text-decoration: none;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #221f1e), to(#8e5e0a));
  background: linear-gradient(0deg, #221f1e 40%, #8e5e0a 100%);
  border: 1px solid #fff;
  -webkit-box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
          box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .mainMenu ul li a {
    height: 48px;
    line-height: 48px;
  }
}
.mainMenu ul li a:hover, .mainMenu ul li a:focus {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #8e5e0a), to(#8e5e0a));
  background: linear-gradient(0deg, #8e5e0a 40%, #8e5e0a 100%);
}
.mainMenu ul li a.active {
  background: #bd601c;
}

.numberList {
  border-top: 3px solid #221f1e;
  border-bottom: 3px solid #221f1e;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 26px;
  margin-bottom: 20px;
}
.numberList .numberBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
}
.numberList .numberBlock .number {
  font-size: 36px;
  font-weight: bold;
  margin-left: 24px;
  color: #bd601c;
}
@media screen and (max-width: 768px) {
  .numberList .numberBlock .number {
    margin-left: 8px;
  }
}

.takeNumber {
  margin: 20px 0;
  text-align: center;
}
.takeNumber a {
  padding: 16px 48px;
  background: #bd601c;
  border: 1px solid #fff;
  font-size: 24px;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.5s background;
  transition: 0.5s background;
}
.takeNumber a:hover, .takeNumber a:focus {
  background: #221f1e 100%;
}

.blockTitle {
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 2px solid #221f1e;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
}/*# sourceMappingURL=lpoc.css.map */