.header {
  height: 220px;
  position: relative;
  @media screen and (max-width: 840px) {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (max-width: 500px) {
    justify-content: center;
  }
  .h1 {
    position: absolute;
    color: #352c2b;
    height: 78px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 32px;
    @media screen and (max-width: 840px) {
      position: relative;
      padding: 16px;
      height: auto;
      color: #fff;
      width: 100%;
      margin-bottom: 16px;
    }
    &::after {
      content: "";
      display: block;
      background: linear-gradient(
        180deg,
        rgba(249, 249, 249, 1) 0%,
        rgba(211, 211, 211, 1) 100%
      );
      opacity: 0.4;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: 0 0 0 1px #fff;
      border-radius: 0 0 12px 12px;
      z-index: -1;
      @media screen and (max-width: 840px) {
        content: "";
        background: linear-gradient(90deg, $secondary 0%, $primary 100%);
        opacity: 0.82;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        box-shadow: 0 0 0 1px #fff;
      }
    }
    .dep {
      font-size: 24px;
      margin-right: 12px;
      @media screen and (max-width: 840px) {
        width: 100%;
        margin-bottom: 4px;
        font-size: 18px;
      }
      a {
        text-decoration: none;
        color: #352c2b;
        @media screen and (max-width: 840px) {
          color: #fff;
        }
      }
    }
    .sys {
      font-size: 24px;
      display: none;
      @media screen and (max-width: 840px) {
        display: block;
        font-size: 18px;
        margin-right: 12px;
      }
    }
    time {
      font-size: 16px;
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      color: #352c2b;
      background: #fff;
      border-radius: 20px;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
  .subTitle {
    position: absolute;
    left: 0;
    bottom: -6px;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 98px;
    color: #fff;
    padding: 0 56px;
    @media screen and (max-width: 840px) {
      display: none;
    }
    span {
      font-size: 30px;
      font-weight: bold;
    }
    &::after {
      content: "";
      background: linear-gradient(90deg, $secondary 0%, $primary 100%);
      opacity: 0.82;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-shadow: 0 0 0 1px #fff;
      border-radius: 12px 12px 0 0;
    }
  }
  .navInfo {
    position: absolute;
    right: 0;
    top: 22px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #433b39;
    font-weight: bold;
    @media screen and (max-width: 840px) {
      position: relative;
      top: 0;
      margin: 0 0 8px 0;
    }
    a {
      text-decoration: none;
      color: #433b39;
    }
    .member {
      height: 56px;
      padding: 0 32px;
      display: flex;
      align-items: center;
      position: relative;
      @media screen and (max-width: 840px) {
        height: 48px;
        padding: 0 16px;
      }
      .setting {
        font-size: 0;
        width: 40px;
        height: 40px;
        display: block;
        background: url(../images/icon_setting.png) no-repeat center center;
        margin-left: 16px;
        &::before {
          content: "";
          width: 1px;
          height: 20px;
          display: block;
          background: #352c2b;
          margin-top: 10px;
        }
        &:hover,
        &:focus {
          background: url(../images/icon_setting_.png) no-repeat center center;
        }
      }
      &::after {
        content: "";
        display: block;
        background: linear-gradient(
          180deg,
          rgba(249, 249, 249, 1) 0%,
          rgba(211, 211, 211, 1) 100%
        );
        opacity: 0.4;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 0 1px #fff;
        border-radius: 12px;
        z-index: -1;
      }
    }

    .logOut {
      height: 56px;
      line-height: 56px;
      padding: 0 32px;
      position: relative;
      margin-left: 8px;
      @media screen and (max-width: 840px) {
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
      }
      &::after {
        content: "";
        display: block;
        background: linear-gradient(
          180deg,
          rgba(249, 249, 249, 1) 0%,
          rgba(211, 211, 211, 1) 100%
        );
        opacity: 0.4;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 0 1px #fff;
        border-radius: 12px;
        z-index: -1;
        transition: 0.5s;
      }
      &:hover,
      &:focus {
        color: #fff;
        &::after {
          background: linear-gradient(0deg, $secondary 0%, $primary 100%);
          opacity: 1;
        }
      }
    }
  }
  .refresh {
    position: absolute;
    right: 0;
    bottom: 16px;
    font-size: 16px;
    color: $secondary;
    font-weight: bold;
    @media screen and (max-width: 840px) {
      position: relative;
      right: auto;
      bottom: auto;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    @media screen and (max-width: 500px) {
      margin: 8px 0 16px 0;
    }
    a {
      background: #9a712a;
      color: #fff;
      border: 1px solid #fff;
      padding: 8px;
      font-size: 16px;
      border-radius: 4px;
      margin-left: 4px;
      transition: 0.5s background;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(34, 30, 30, 0.3);
      text-decoration: none;
      &:hover,
      &:focus {
        background: #433b39;
      }
    }
  }
}
