@charset "utf-8";
@import url(../css/reset.css);
@import "_var";
@import "_header";
@import "_table";
@import "_form";
@import "_pagination";

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, "LiHei Pro", "Microsoft JhengHei";
  font-size: 20px;
  font-weight: 400;
  background: #efede6;
  box-sizing: border-box;
  background: #f1eee7 url(../images/bg.jpg) no-repeat center 0;
  @media screen and (max-width: 1200px) {
    background-size: 100%;
  }
  @media screen and (max-width: 840px) {
    font-size: 16px;
  }
  &::before {
    content: "";
    width: 100vw;
    height: 6px;
    background: linear-gradient(90deg, $secondary 0%, $primary 100%);
    display: block;
  }
}

.wrap {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width: 1120px) {
    padding: 0 15px;
  }
}

.mainContent {
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 40px 60px 60px 60px;
  min-height: 60vh;
  box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}
.popup {
  width: 20%;
  min-width: 500px;
  background: #fff;
  margin: 5vh auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
  padding: 40px;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    min-width: 340px;
    padding: 20px;
  }
  .btnGrp {
    margin: 16px 0 0 0;
  }
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 24px 8px;
  margin-bottom: 24px;
  border-bottom: 2px solid $secondary;

  @media screen and (max-width: 680px) {
    flex-direction: column;
  }
  @media screen and (max-width: 540px) {
    line-height: 140%;
  }
  .welcomeTxt {
    font-size: 20px;
    color: #000;
    @media screen and (max-width: 840px) {
      font-size: 18px;
    }
    .opening {
      font-size: 26px;
      @media screen and (max-width: 840px) {
        font-size: 18px;
      }
    }
    .name {
      font-size: 26px;
      color: #392b1d;
      @media screen and (max-width: 840px) {
        font-size: 18px;
      }
    }
    .zone {
      color: $primary;
      margin-right: 16px;
    }
  }

  .download {
    font-size: 18px;
    @media screen and (max-width: 680px) {
      margin-top: 16px;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000;
      img {
        margin-right: 8px;
      }
      &:hover,
      &:focus {
        color: $primary;
      }
    }
  }
}
.court {
  display: flex;
  justify-content: center;
  margin: 60px 0;
  @media screen and (max-width: 540px) {
    flex-direction: column;
    margin: 20px 0;
    font-size: 18px;
  }
  a {
    width: 26%;
    max-width: 230px;
    text-align: center;
    background: url(../images/icon_libra.png) no-repeat center 36px,
      linear-gradient(333deg, $secondary 0%, $primary 100%);
    padding: 90px 10px 30px 10px;
    box-sizing: border-box;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    margin: 0 3%;
    line-height: 140%;
    box-shadow: 0 2px 24px rgba(34, 30, 30, 0.3);
    @media screen and (max-width: 680px) {
      margin: 0 15px;
    }
    @media screen and (max-width: 540px) {
      text-align: left;
      width: 100%;
      max-width: 100%;
      margin: 8px 0;
      padding: 30px 10px 30px 90px;
      background: url(../images/icon_libra.png) no-repeat 30px center,
        linear-gradient(
          333deg,
          rgba(34, 30, 30, 1) 0%,
          rgba(141, 93, 10, 1) 100%
        );
    }
    &:hover,
    &:focus {
      background: $hilight url(../images/icon_libra.png) no-repeat center 36px;
    }
  }
}
.statusBtn {
  margin-bottom: 24px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    li {
      margin: 4px;
      a {
        height: 48px;
        line-height: 48px;
        display: block;
        padding: 0 32px;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
        border-radius: 10px;
        transition: 0.5s background;
        &.take {
          background: #28a1a0;
          &:hover,
          &:focus {
            background: darken(#28a1a0, 10%);
          }
        }
        &.reserve {
          background: #2869a1;
          &:hover,
          &:focus {
            background: darken(#2869a1, 10%);
          }
        }
        &.serving {
          background: #ce5214;
          &:hover,
          &:focus {
            background: darken(#ce5214, 10%);
          }
        }
        &.pass {
          background: #7ca33f;
          &:hover,
          &:focus {
            background: darken(#7ca33f, 10%);
          }
        }
        &.served {
          background: #989695;
          &:hover,
          &:focus {
            background: darken(#989695, 10%);
          }
        }
        &.add {
          background: #734ba1;
          &:hover,
          &:focus {
            background: darken(#734ba1, 10%);
          }
        }
      }
    }
  }
}
.mainMenu {
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
    li {
      margin: 4px;
      a {
        height: 54px;
        line-height: 54px;
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: #fff;
        background: linear-gradient(0deg, $secondary 40%, $primary 100%);
        border: 1px solid #fff;
        box-shadow: 0 4px 6px rgba(34, 30, 30, 0.3);
        border-radius: 10px;
        @media screen and (max-width: 768px) {
          height: 48px;
          line-height: 48px;
        }
        &:hover,
        &:focus {
          background: linear-gradient(0deg, $primary 40%, $primary 100%);
        }
        &.active {
          background: $hilight;
        }
      }
    }
  }
}
.numberList {
  border-top: 3px solid $secondary;
  border-bottom: 3px solid $secondary;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  margin-bottom: 20px;
  .numberBlock {
    display: flex;
    align-items: center;
    margin: 0 8px;
    .number {
      font-size: 36px;
      font-weight: bold;
      margin-left: 24px;
      color: $hilight;
      @media screen and (max-width: 768px) {
        margin-left: 8px;
      }
    }
  }
}
.takeNumber {
  margin: 20px 0;
  text-align: center;
  a {
    padding: 16px 48px;
    background: $hilight;
    border: 1px solid #fff;
    font-size: 24px;
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s background;
    &:hover,
    &:focus {
      background: $secondary 100%;
    }
  }
}
.blockTitle {
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 2px solid #221f1e;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
}
